go 1.25.0

use (
	./common
	./service/attachment
	./service/backlog
	./service/calendar
	./service/event
	./service/identity
	./service/mail-provider
	./service/notification
	./service/report
	./service/task
	./tools/quality
)
